<!DOCTYPE html>
<html>
<head>
    <title>StrayPariwar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="StrayPariwar Logo"
                 class="site-logo">
        </a>
    </div>


    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/gallery">Gallery</a>
        <a href="/testimonials">Testimonials</a>
        <a href="{{ url_for('ngos') }}">NGOs</a>


    </div>

    <div class="auth-buttons">
        {% if session.get('username') %}
            <span class="welcome">Hi, {{ session.get('username') }}</span>
            <a href="/logout" class="btn-outline">Logout</a>
        {% else %}
            <a href="/login" class="btn-outline">Login</a>
            <a href="/register" class="btn-primary">Register</a>
        {% endif %}
    </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-message">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
