{% extends "base.html" %}
{% block content %}

<section class="testimonial-section">

    <h1 class="section-title">What People Say 💛</h1>

    <div class="testimonial-grid">

        <div class="testimonial-card">
            <p>"StrayPariwar saved a life and brought joy to our family!"</p>
            <h4>- Ananya Pandey</h4>
        </div>

        <div class="testimonial-card">
            <p>"Amazing rescue and adoption support. Highly recommended."</p>
            <h4>- Rahul Roy</h4>
        </div>

        <div class="testimonial-card">
            <p>"Amazing initiative! I adopted my dog from here and the experience was smooth."</p>
            <h4>- Riya Sen</h4>
        </div>

        <div class="testimonial-card">
            <p>"Very professional team and great follow-up after adoption."</p>
            <h4>- Arjun Malhotra</h4>
        </div>

        <div class="testimonial-card">
            <p>"Their feeding program is truly heart touching. Proud to volunteer."</p>
            <h4>- Meera Kapoor</h4>
        </div>

        <div class="testimonial-card">
            <p>"They genuinely care for every stray animal. Respect!"</p>
            <h4>- Vikram Sharma</h4>
        </div>

    </div>

</section>

{% endblock %}
